---

const response = await fetch('https://pokeapi.glitch.me/v1/pokemon/1');
const data = await response.json();
const pokeName = data;
//const pokeInfo = JSON.stringify(pokeName, null, 3);



---




---

<!-- Los datos obtenidos en la compilación pueden ser usados en el HTML -->
<h1>Pokemon</h1>

<ul>
    {pokeName.map((item, index) => (
      <li key={index}>{item.name}</li>
      <li key={index}>{item.types}</li>
      <li key={index}>
              <img src={item.sprite} height="30px" width="30px"/>
            </li>
    ))}
    
</ul>